<div class="feature gun plasmagun">
    <div class="feature-title">
        <img src="/images/icon-gun.png" class="feature-title-icon">
        Plasma Gun
    </div>

    <div class="gun-stats">
        <div>
            <b>Range</b>
            <span class="gun-stats-red">red</span>
            <span class="gun-stats-orange">orange</span>
            <span class="gun-stats-yellow">yellow</span>
        </div>
        <div><b>Damage</b> 4</div>
        <div>Consumes plasma fuel <img class="gun-stats-icon" src="/images/icon-plasma.png"></div>
    </div>

    <button
        class="gun-fire btn btn-warning"
        ng-click="fireGun()"
        ng-disabled="ship.rooms[player.room].gun.fired || !ship.rooms[player.room].gun.canFire">
        {{ ship.rooms[player.room].gun.canFire ? ship.rooms[player.room].gun.fired ? 'Firing' : 'Fire' : 'Out of Plasma'}}
        <img class="gun-fire-icon" ng-show="!ship.rooms[player.room].gun.canFire" src="/images/icon-plasma.png">
    </button>
</div>
