<div class="feature threatdetector">
    <div class="feature-title">
        <img src="/images/icon-helm.png" class="feature-title-icon">
        Threat Sensor
    </div>

    <table>
        <tr>
            <td valign="bottom" ng-repeat="track in tracks track by track.vector">
                <table class="track">
                    <tr ng-repeat="cell in getCells(track) track by $index">
                        <td ng-class="{
                            trackz: (track.length) - $index <= track.zPos,
                            tracky: (track.length) - $index <= track.yPos && (track.length-1) - $index >= track.zPos,
                            trackx: (track.length) - $index <= track.xPos && (track.length-1) - $index >= track.yPos,
                            notrack: (track.length) - $index > track.xPos}">
                            &nbsp;<span
                                class="track-threat"
                                ng-style="{'top': getThreatOffsetY(threat)}"
                                ng-repeat="threat in getThreatsAt(track.vector, (track.length - 1) - $index) track by threat.id">
                                {{threat.name}}
                            </span>
                        </td>
                    </tr>

                    <tr><td>{{track.vector}}, {{ship.health[track.vector]}} HP</td></tr>
                </table>
            </td>
        </tr>
    </table>
</div>
