html {
    overflow-y: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    margin: 0;
}

html,
body,
foo,
.view-container,
.play-container,
.play-container > div,
.slider-room,
.slick-list,
.slick-track,
.slick-slide {
    height: 100%;
}
