.threatdetector table {
    width: 100%;
}

.threatdetector .track {
    border: none;
    width: 33%;
    position: relative;
    text-align: center;
}

.threatdetector .track .notrack,
.threatdetector .track .trackx,
.threatdetector .track .tracky,
.threatdetector .track .trackz {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.threatdetector .track .notrack {
    background-color: #A3FEBA;
}

.threatdetector .track .trackx {
    background-color: #FFFF99;
}

.threatdetector .track .tracky {
    background-color: #FFB347;
}

.threatdetector .track .trackz {
    background-color: #FF7575;
}

.threatdetector .track .notrack + .trackx,
.threatdetector .track .trackx + .tracky,
.threatdetector .track .tracky + .trackz {
    border-top: 1px dashed rgba(20, 20, 20, 0.25);
}

.threatdetector .threatdetector-stats {
    text-align: center;
}

.threatdetector .track .track-enemy {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    transition: top 0.1s linear;
    z-index: 100;
    font-size: 17px;
    line-height: 17px;
}
