<div class="feature threatdetector">
    <div class="feature-title">
        <img src="/images/icon-helm.png" class="feature-title-icon">
        Threat Sensor
    </div>

    <table>
        <tr>
            <td class="track" valign="bottom" ng-repeat="track in tracks track by track.vector">
                <div class="notrack" ng-style="{height: (track.length - track.xPos) * 17}"></div>
                <div class="trackx" ng-style="{height: (track.xPos - track.yPos) * 17}"></div>
                <div class="tracky" ng-style="{height: (track.yPos - track.zPos) * 17}"></div>
                <div class="trackz" ng-style="{height: track.zPos * 17}"></div>

                <span
                    class="track-enemy"
                    ng-style="{'bottom': getThreatOffsetY(threat)}"
                    ng-repeat="threat in getThreatsOn(track.vector) track by threat.id">
                    {{threat.name}}
                </span>
            </td>
        </tr>

        <tr class="threatdetector-stats">
            <td>TOP, {{ship.health.LEFT}}</td>
            <td>MIDDLE, {{ship.health.CENTER}}</td>
            <td>BOTTOM, {{ship.health.RIGHT}}</td>
        </tr>
    </table>
</div>



<!-- <tr
    ng-repeat="cell in getCells(track) track by $index"
    ng-class="{
        trackz: (track.length) - $index <= track.zPos,
        tracky: (track.length) - $index <= track.yPos && (track.length-1) - $index >= track.zPos,
        trackx: (track.length) - $index <= track.xPos && (track.length-1) - $index >= track.yPos,
        notrack: (track.length) - $index > track.xPos}">
    <td>
        &nbsp;
    </td>
</tr> -->
