<div class="spaceview">
    <!-- <div class="threats"> -->
        <!-- <img src="images/enemyship3.png" class="threat threat-top" style="left:70%">
        <img src="images/enemyship1.png" class="threat threat-center" style="left:50%">
        <img src="images/enemyship2.png" class="threat threat-bottom" style="left:90%"> -->
    <!-- </div> -->

    <svg class="ship" viewbox="0 0 250 150">
        <defs>
          <pattern id="roomBackgroundImg" patternUnits="userSpaceOnUse" width="100" height="100">
            <image xlink:href="/images/noise.png" x="0" y="0" width="50" height="50" />
          </pattern>
        </defs>

        <g class="ship-room" transform="translate(0, 0)" ng-click="movePlayer('BOTTOM_LEFT')" ng-class="{'ship-room-active': player.room == 'BOTTOM_LEFT'}">
            <rect x="0" y="0"></rect>
            <image xlink:href="/images/icon-plasma.png" x="0" y="0"/>
            <image xlink:href="/images/icon-electric.png" x="20" y="0"/>
        </g>

        <g class="ship-room" transform="translate(0, 50)" ng-click="movePlayer('BOTTOM_CENTER')" ng-class="{'ship-room-active': player.room == 'BOTTOM_CENTER'}">
            <rect x="0" y="0"></rect>
            <image xlink:href="/images/icon-reactor.png" x="0" y="0"/>
            <image xlink:href="/images/icon-gun.png" x="20" y="0"/>
        </g>

        <g class="ship-room" transform="translate(0, 100)" ng-click="movePlayer('BOTTOM_RIGHT')" ng-class="{'ship-room-active': player.room == 'BOTTOM_RIGHT'}">
            <rect x="0" y="0"></rect>
            <image xlink:href="/images/icon-plasma.png" x="0" y="0"/>
            <image xlink:href="/images/icon-electric.png" x="20" y="0"/>
        </g>

        <g class="ship-room" transform="translate(50, 0)" ng-click="movePlayer('TOP_LEFT')" ng-class="{'ship-room-active': player.room == 'TOP_LEFT'}">
            <rect x="0" y="0"></rect>
            <image xlink:href="/images/icon-gun.png" x="0" y="0"/>
        </g>

        <g class="ship-room" transform="translate(50, 50)" ng-click="movePlayer('TOP_CENTER')" ng-class="{'ship-room-active': player.room == 'TOP_CENTER'}">
            <rect x="0" y="0"></rect>
            <image xlink:href="/images/icon-helm.png" x="0" y="0"/>
            <image xlink:href="/images/icon-gun.png" x="20" y="0"/>
        </g>

        <g class="ship-room" transform="translate(50, 100)" ng-click="movePlayer('TOP_RIGHT')" ng-class="{'ship-room-active': player.room == 'TOP_RIGHT'}">
            <rect x="0" y="0"></rect>
            <image xlink:href="/images/icon-gun.png" x="0" y="0"/>
        </g>
    </svg>
</div>

<div class="feature-pips-container">
    <div ng-if="player.room == 'TOP_LEFT'">
        <img src="/images/icon-gun.png" class="feature-pip">
    </div>
    <div ng-if="player.room == 'TOP_CENTER'">
        <img src="/images/icon-helm.png" class="feature-pip">
        <img src="/images/icon-gun.png" class="feature-pip">
    </div>
    <div ng-if="player.room == 'TOP_RIGHT'">
        <img src="/images/icon-gun.png" class="feature-pip">
    </div>
    <div ng-if="player.room == 'BOTTOM_LEFT'">
        <img src="/images/icon-plasma.png" class="feature-pip">
        <img src="/images/icon-electric.png" class="feature-pip">
    </div>
    <div ng-if="player.room == 'BOTTOM_CENTER'">
        <img src="/images/icon-reactor.png" class="feature-pip">
        <img src="/images/icon-gun.png" class="feature-pip">
    </div>
    <div ng-if="player.room == 'BOTTOM_RIGHT'">
        <img src="/images/icon-plasma.png" class="feature-pip">
        <img src="/images/icon-electric.png" class="feature-pip">
    </div>
</div>

<div class="feature-container">

    <slick class="slider slider-room single-item" infinite="false" arrows="false" ng-if="player.room == 'TOP_LEFT'">
        <div><div ng-include="'views/features/plasmagun.html'"></div></div>
    </slick>

    <slick class="slider slider-room single-item" infinite="false" arrows="false" ng-if="player.room == 'TOP_CENTER'">
        <div><div ng-include="'views/features/threatdetector.html'"></div></div>
        <div><div ng-include="'views/features/plasmagun.html'"></div></div>
    </slick>

    <slick class="slider slider-room single-item" infinite="false" arrows="false" ng-if="player.room == 'TOP_RIGHT'">
        <div><div ng-include="'views/features/plasmagun.html'"></div></div>
    </slick>

    <slick class="slider slider-room single-item" infinite="false" arrows="false" ng-if="player.room == 'BOTTOM_LEFT'">
        <div><div ng-include="'views/features/plasmatank.html'"></div></div>
        <div><div ng-include="'views/features/electricgun.html'"></div></div>
    </slick>

    <slick class="slider slider-room single-item" infinite="false" arrows="false" ng-if="player.room == 'BOTTOM_CENTER'">
        <div><div ng-include="'views/features/reactor.html'"></div></div>
        <div><div ng-include="'views/features/shortwavegun.html'"></div></div>
    </slick>

    <slick class="slider slider-room single-item" infinite="false" arrows="false" ng-if="player.room == 'BOTTOM_RIGHT'">
        <div><div ng-include="'views/features/plasmatank.html'"></div></div>
        <div><div ng-include="'views/features/electricgun.html'"></div></div>
    </slick>
</div>
