<div class="play-container" ng-class="{'enable-screen-shake': enableScreenShake}">
    <div ng-if="state === 'NOT_CONNECTED'">Connecting...</div>
    <div ng-if="state === 'CONNECTED'">Joining</div>
    <div ng-if="state === 'REJECTED'">Server rejected client: {{reason}}</div>

    <div ng-if="state === 'WAITING'">
        <div style="margin-bottom:15px;font-size:32px;">
            <button ng-click="startGame()">Start Game</button>
        </div>

        <div style="font-size:32px;">
            Players
            <ul>
                <li ng-repeat="p in players track by p.id">{{p.id}} <span ng-if="p.id === player.id">(ME)</span></li>
                <li>Waiting for players...</li>
            </ul>
        </div>
    </div>

    <div ng-if="state === 'PLAYING' || state === 'FAIL'">
        <div ng-if="state === 'FAIL'">
            <h1>YOUR SHIP BLEW UP YOU LOSE</h1>
        </div>

        <div>
            <b>Tick</b> {{turn}}
        </div>

        <h2>Your Ship</h2>
        <div class="map"><!--
            --><div class="map-room map-top-left" ng-click="movePlayer('TOP_LEFT')" ng-class="{active: player.room == 'TOP_LEFT'}"></div><!--
            --><div class="map-room map-top-center" ng-click="movePlayer('TOP_CENTER')" ng-class="{active: player.room == 'TOP_CENTER'}"></div><!--
            --><div class="map-room map-top-right" ng-click="movePlayer('TOP_RIGHT')" ng-class="{active: player.room == 'TOP_RIGHT'}"></div><!--
            --><div class="map-room map-bottom-left" ng-click="movePlayer('BOTTOM_LEFT')" ng-class="{active: player.room == 'BOTTOM_LEFT'}"></div><!--
            --><div class="map-room map-bottom-center" ng-click="movePlayer('BOTTOM_CENTER')" ng-class="{active: player.room == 'BOTTOM_CENTER'}"></div><!--
            --><div class="map-room map-bottom-right" ng-click="movePlayer('BOTTOM_RIGHT')" ng-class="{active: player.room == 'BOTTOM_RIGHT'}"></div>
        </div>

        <div ng-if="player.room === 'TOP_LEFT'" ng-class="room">
            <h2>Upper Left</h2>
            <div>
                <h3>Energy Gun</h3>
                <ul>
                    <li><b>Range</b> X, Y, Z</li>
                    <li><b>Damage</b> 4</li>
                </ul>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="fireGun()"
                    ng-disabled="ship.rooms.TOP_LEFT.gun.fired">
                    {{ ship.rooms.TOP_LEFT.gun.fired ? 'Firing' : 'Fire' }}
                </button>
            </div>
        </div>

        <div ng-if="player.room === 'TOP_CENTER'" ng-class="room">
            <h2>Bridge</h2>

            <div>
                <h3>Threat Monitor</h3>
                <div class="tracks-container">
                    <table>
                        <tr>
                            <td valign="bottom" ng-repeat="track in tracks track by track.vector">
                                <table class="track">
                                    <tr><td>{{track.vector}}, {{ship.health[track.vector]}} HP</td></tr>
                                    <tr ng-repeat="cell in getCells(track) track by $index">
                                        <td ng-class="{
                                            trackz: (track.length) - $index <= track.zPos,
                                            tracky: (track.length) - $index <= track.yPos && (track.length-1) - $index >= track.zPos,
                                            trackx: (track.length) - $index <= track.xPos && (track.length-1) - $index >= track.yPos,
                                            notrack: (track.length) - $index > track.xPos}">
                                            &nbsp;<span
                                                style="position: relative"
                                                ng-style="{'top': getThreatOffsetY(threat)}"
                                                ng-repeat="threat in getThreatsAt(track.vector, (track.length - 1) - $index) track by threat.id">
                                                {{threat.name}}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <h3>Energy Gun</h3>
                <ul>
                    <li><b>Range</b> X, Y, Z</li>
                    <li><b>Damage</b> 4</li>
                </ul>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="fireGun()"
                    ng-disabled="ship.rooms.TOP_CENTER.gun.fired">
                    {{ ship.rooms.TOP_CENTER.gun.fired ? 'Firing' : 'Fire' }}
                </button>
            </div>
        </div>

        <div ng-if="player.room === 'TOP_RIGHT'" ng-class="room">
            <h2>Upper Right</h2>
            <div>
                <h3>Energy Gun</h3>
                <ul>
                    <li><b>Range</b> X, Y, Z</li>
                    <li><b>Damage</b> 4</li>
                </ul>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="fireGun()"
                    ng-disabled="ship.rooms.TOP_RIGHT.gun.fired">
                    {{ ship.rooms.TOP_RIGHT.gun.fired ? 'Firing' : 'Fire' }}
                </button>
            </div>
        </div>

        <div ng-if="player.room === 'BOTTOM_LEFT'" ng-class="room">
            <h2>Battery Room</h2>
            <div>
                <h3>Battery Gun</h3>
                <ul>
                    <li><b>Range</b> X, Y, Z</li>
                    <li><b>Damage</b> 2</li>
                </ul>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="fireGun()"
                    ng-disabled="ship.rooms.BOTTOM_LEFT.gun.fired">
                    {{ ship.rooms.BOTTOM_LEFT.gun.fired ? 'Firing' : 'Fire' }}
                </button>
            </div>

            <div>
                <h3>Red Fuel Tank</h3>
                <div style="width: 50px; height: 190px; background-color: green; border: 1px solid black">
                    <div style="width:100%; background-color: white" ng-style="{'height': getPowerPercent('BOTTOM_LEFT')}"></div>
                </div>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="replenish()">
                    Replenish from Reactor
                </button>
            </div>
        </div>

        <div ng-if="player.room === 'BOTTOM_CENTER'" ng-class="room">
            <h2>Reactor Room</h2>
            <div>
                <h3>Reactor</h3>
                <div>{{ship.rooms.BOTTOM_CENTER.cores}} Cores Remaining</div>
                <div style="width: 50px; height: 190px; background-color: green; border: 1px solid black">
                    <div style="width:100%; background-color: white" ng-style="{'height': getPowerPercent('BOTTOM_CENTER')}"></div>
                </div>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="replenish()">
                    Consume Core
                </button>
            </div>

            <div>
                <h3>Short Range Wave</h3>
                <ul>
                    <li><b>Attacks ALL Vectors</b></li>
                    <li><b>Range</b> Y, Z</li>
                    <li><b>Damage</b> 1</li>
                </ul>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="fireGun()"
                    ng-disabled="ship.rooms.BOTTOM_CENTER.gun.fired">
                    {{ ship.rooms.BOTTOM_CENTER.gun.fired ? 'Firing' : 'Fire' }}
                </button>
            </div>
        </div>

        <div ng-if="player.room === 'BOTTOM_RIGHT'" ng-class="room">
            <h2>Battery Room</h2>
            <div>
                <h3>Battery Gun</h3>
                <ul>
                    <li><b>Range</b> X, Y, Z</li>
                    <li><b>Damage</b> 2</li>
                </ul>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="fireGun()"
                    ng-disabled="ship.rooms.BOTTOM_RIGHT.gun.fired">
                    {{ ship.rooms.BOTTOM_RIGHT.gun.fired ? 'Firing' : 'Fire' }}
                </button>
            </div>

            <div>
                <h3>Blue Fuel Tank</h3>
                <div style="width: 50px; height: 190px; background-color: green; border: 1px solid black">
                    <div style="width:100%; background-color: white" ng-style="{'height': getPowerPercent('BOTTOM_RIGHT')}"></div>
                </div>
                <button
                    display="inline-block"
                    style="width:130px"
                    ng-click="replenish()">
                    Replenish from Reactor
                </button>
            </div>
        </div>
    </div>
</div>

<div ng-if="debug">
    <b>State:</b> {{state}}<br/>
    <b>Turn:</b> {{turn}}<br/>
    <b>Player:</b> {{player}}<br/>
    <b>Tracks:</b> {{tracks}}<br/>
    <b>Threats:</b> {{threats}}<br/>
    <b>Ship:</b> {{ship}}<br/>
</div>
